<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TTRPGForum</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TTRPGForum.styles.css" asp-append-version="true" />
    
</head>
<body class="d-flex flex-column min-vh-100">
    <!-- Header-->
    <header class="custom-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TTRPGForum</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mr-auto"> 
                    <li class="nav-item"> 
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    
                @*     <li class="nav-item">  *@
                @*         <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>  *@
                @*     </li>  *@
                 </ul> 
                <ul class="navbar-nav ms-auto">
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-4 flex-grow-1 mb-4">
            @RenderBody()
        </main>
    </div>
    <!-- Footer -->
    <footer class="border-top footer text-muted custom-footer py-2">
        <div class="container">
            &copy; 2025 - TTRPGForum. For all your Tabletop Roleplaying games questions and stories.
            
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
