@model List<TTRPGForum.Models.Discussion>

@{
    ViewData["Title"] = "TTRPG FORUM";
}

<h1> Home Page Display all discussion</h1>


<h1>Discussion Threads</h1>

@foreach (var discussion in Model)
{
    <div class="discussion-thread">
        <img src="~/photos/@discussion.ImageFilename" alt="Thumbnail" style="width: 100px; height: 100px;" />
        <h2>
            <a asp-controller="Home" asp-action="GetDiscussion" asp-route-id="@discussion.DiscussionId">
                @discussion.Title
            </a>
        </h2>
        <p>
            Comments: @discussion.Comments?.Count <br />
            Created: @discussion.CreateDate.ToString("g")
        </p>
    </div>
    <hr />
}
