@model List<TTRPGForum.Models.Discussion>

@{
    ViewData["Title"] = "TTRPG FORUM";
}

<h1 class="text-center mb-5">Let's Talk About TableTop Roleplaying Games!'</h1>

<div class="container">
    <div class="row justify-content-center">

        <!-- All the comments containers -->
        @foreach (var discussion in Model)
        {
            <div class="col-12 col-md-8 col-lg-6">
                <div class="card mb-4 discussion-card">
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <img class="img-thumbnail discussion-thumbnail" src="~/images/@discussion.ImageFilename" alt="Thumbnail" />
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <h2 class="card-title">
                                    <a asp-controller="Home" asp-action="GetDiscussion" asp-route-id="@discussion.DiscussionId">
                                        @discussion.Title
                                    </a>
                                </h2>
                                <p class="card-text">
                                    Comments: @discussion.Comments?.Count <br />
                                    Created: @discussion.CreateDate.ToString("g")
                                </p>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <!-- Create new Discussion button -->
        <div class="d-flex justify-content-center">
            <a asp-controller="Discussions" asp-action="Create" class="btn btn-primary">
                New Discussion
            </a>
        </div>
    </div>
</div>
